<html>
    <head>
        <title>Page title</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                <hr>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>
