{% extends "base.html" %}

{% block content %}
    <form method="POST" action="/" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.latitude.label }}
            {{ form.latitude }}
            {% for error in form.latitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.longitude.label }}
            {{ form.longitude }}
            {% for error in form.longitude.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        {{ form.submit() }}

    </form>
{% endblock %}
